<h2>つぶやき一覧</h2>
<%= link_to '新しいつぶやき', new_post_path, class: 'new-tweet-link' %>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.content %>
      <%= link_to '編集', edit_post_path(post), class: 'edit-link' %>
      <%= link_to '削除', post, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'delete-link' %>
    </li>
  <% end %>
</ul>
