<!DOCTYPE html>
<html>
<head>
  <title>TwitterClone</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <h1>TwitterClone</h1>
  </header>

  <div class="container">
    <%= yield %>
  </div>

  <footer>
    <p>&copy; 2024 TwitterClone</p>
  </footer>
</body>
</html>
